@import 'variables.scss';
@import 'Common/header.scss';
@import 'Common/footer.scss';
@import 'dashboard/index.scss';
@import 'dashboard/chat.scss';

[x-cloak] {
    display: none;
}

html body {
    background-color: #e5e7eb;
}

body main {
    margin-bottom: 64px;
}