@import 'variables.scss';
@import 'Common/header.scss';
@import 'Common/footer.scss';
@import 'dashboard/index.scss';

[x-cloak] {
    display: none;
}

html body {
    background-color: #e5e7eb;
}

body main {
    margin-bottom: 64px;
}

.received, .sent {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 16px;
}

.received p, .sent p {
    margin-bottom: 0;
}

.sent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.received {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
