$corPrincipal: #6b7280;
$corPrincipalHover: #374151;
$bgPrincipal: #f1f1f1;
$bgPrincipalHover: #e1e1e1;
$corSecundaria: #1f2937;
$corSecundariaHover: #222;
$bgSecundaria: #f3f3f3;
$bgSecundariaHover: #e3e3e3;
$corTercearia: #4b5563;
$bgTercearia: #e5e7eb;
$white: #fff;
$black: #000;